@font-face {
  font-family: "OpenSans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------HEADER-----------*/
.page-work {
  max-width: 1659px;
  min-width: 239px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-height: 442px;
  background: #b2b2b2
    url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg")
    center no-repeat;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 1199px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
}

.header-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  width: 180px;
}

.menu-list {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  display: flex;
}

.menu-list-items {
  list-style-type: none;
  font-size: 13px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-list-items:nth-child(n + 2) {
  margin-left: 35px;
}

.menu {
  display: none;
}

#menu-toggle {
  display: none;
}

.header-intro {
  width: 100%;
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-title {
  font-family: "OpenSans-Bold", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.66;

  text-align: center;
  padding-bottom: 145px;
  padding-top: 98px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}

/*---------TRENDS---------*/

.trends {
  max-width: 1660px;
  width: 100%;
}

.section-title {
  color: #0f0d0e;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 63px 0 24px;
}

.section-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
}

.all-trends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trend {
  min-height: 322px;
  width: calc(25% - 3px);
  padding: 15px 20px;
  display: flex;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  text-transform: uppercase;

  overflow: hidden;
  position: relative;
}

.trend::before {
  content: "";
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 5;
  opacity: 0.6;
}

.trend1 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend1.jpg?raw=true");
}

.trend2 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
}

.trend3 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
}

.trend4 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");
}

.trends-information {
  border: 3px solid rgba(181, 159, 91, 0.6);

  position: absolute;
  right: 22px;
  left: 22px;
  bottom: 15px;

  display: flex;

  justify-content: space-between;
  z-index: 10;
}

.trends-text {
  margin: 33px;
  max-width: 300px;
}

.trends-tegs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trends-teg {
  list-style-type: none;

  font-size: 1.4rem;
  height: 19px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;

  margin-right: 15px;
}

.trends-tegs-links {
  text-decoration: none;
  color: #b59f5b;
}

.trends-teg:hover {
  border-bottom: 2px solid #b59f5b;
}

.trends-title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.trends-title:hover {
  color: #b59f5b;
}

.trends-title-link {
  font-size: 19px;
  text-decoration: none;
  color: inherit;
}

/*--------MAIN--------*/

.main {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  width: 100%;
  max-width: 780px;
}

.frame {
  display: flex;
  align-items: flex-start;
}

.frame-image {
  display: block;
  width: 100%;
  max-width: 381px;
  margin-right: 30px;
  object-fit: cover;
}

.frame:not(:first-child) {
  margin-top: 60px;
}

.frame-list {
  list-style-type: none;

  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;

  margin-top: 4px;
  margin-bottom: 7px;
  display: flex;
}

.frame-list-items {
  display: block;
  height: 19px;
  margin-right: 20px;
  box-sizing: border-box;
}

.frame-list-items:hover {
  border-bottom: 2px solid #b59f5b;
}

.frame-link {
  text-decoration: none;
  color: #b59f5b;
}

.frame-title {
  text-decoration: none;
  color: #0f0d0e;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 17px;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.frame-title:hover {
  color: #b59f5b;
}

.posted-title {
  margin-top: 5px;
}

.date-frame-info {
  margin-top: 30px;
  display: flex;
}

time {
  font-family: "OpenSans", sans-serif;
  font-size: 1.2rem;
  color: #888888;

  margin-right: 13px;
}

.frame-autor {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #000000;
}

.post-text {
  margin-top: 47px;

  line-height: 2rem;
  font-family: "OpenSans", sans-serif;
  font-size: 1.5rem;
  color: #0f0d0e;
}

.post-text-more {
  margin-top: 12px;
}

/*-------ASIDE--------*/

.post {
  width: 100%;
  max-width: 275px;
}

.post-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #0f0d0e;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;

  position: relative;
}
.post-title::after {
  content: "";

  display: block;
  opacity: 0.5;
  background-color: #b59f5b;
  left: calc(50% - 32.5px);

  margin-top: 10px;

  width: 65px;
  height: 3px;

  position: absolute;
}

.card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card:first-child {
  margin-top: 30px;
}

.card-image {
  width: 70px;
  min-width: 70px;
  margin-right: 17px;
}

.card-content {
  max-width: 185px;
}

.card-time {
  font-size: 1.2rem;
  font-family: "OpenSans";
  color: #000000;
}

.card-title-content {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 1.8rem;
  color: #000000;

  text-transform: uppercase;
  margin-top: 6px;
}

.card-title-content:hover {
  color: #b59f5b;
}

.card-title {
  text-decoration: none;
  color: #000000;
}

/*-------FORM-------*/

.form-row {
  width: 100%;
  position: relative;
  margin-top: 67px;
  margin-bottom: 56px;
}

.form-hint {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.field {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  color: #888888;
  background-color: #f4f7f6;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.form-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #b59f5b;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
}

.form-button:hover {
  background-color: #000000;
}

/*----MAILING-----*/

.form-mail-group {
  cursor: pointer;
}

.form-field {
  width: 100%;
  height: 45px;

  padding-left: 20px;
  padding-right: 20px;

  border: none;
  background-color: #f4f7f6;
}

.form-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.form-mail-button {
  margin-top: 16px;

  border: none;

  display: block;
  text-align: center;
  margin-bottom: 60px;

  width: 100%;
  padding: 15px;

  background-color: #b59f5b;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-mail-button:hover {
  background-color: #000000;
}

/*-----TAG------*/

.sidebar-tags-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.sidebar-tag-link {
  text-decoration: none;

  color: #0f0d0e;
}

.sidebar-tag {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 13px;

  text-transform: uppercase;
  color: #0f0d0e;

  border: 3px solid #eeeeee;

  padding: 5px 12px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.sidebar-tag:hover {
  border: 3px solid #b59f5b;
}

/*----TOPIC-----*/

.side-bar-class {
  margin-top: 55px;
}

.sidebar-thems-list {
  list-style-type: none;
}

.sidebar-them-link {
  text-decoration: none;
  color: #000000;
}

.sidebar-them {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  color: #000000;

  display: block;

  padding: 14px 0;

  border-bottom: 2px solid #eeeeee;
}

.sidebar-them:first-child {
  padding-top: 0;
}

.sidebar-them-number {
  font-size: 1.2rem;
  color: #b59f5b;

  margin-left: 4px;

  vertical-align: top;
}

.sidebar-them-link:hover {
  color: #b59f5b;
}

/*------SHOP-------*/

.shop-page {
  max-width: 1200px;
  padding: 0 0 60px;
  margin: 0 auto;
}

.shop {
  margin-top: 65px;
}

.shop-title {
  color: #0f0d0e;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 55px 0 30px;
}

.shop-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex-basis: 360px;
}

.product-information {
  width: 100%;
  padding: 0 35px 0 35px;
 

  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
}

.product-border {
  outline: 3px solid rgba(181, 159, 91, 0.6);

  margin: -30px -22.5px 0 -22.5px;
}

.product-text {
  width: 100%;

  padding: 52px 12px 0 18px;
  height: 260px;
}

.product-title {
  font-size: 2rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

.product-description {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 2rem;

  margin-top: 7px;
}

.product-description-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-description-link:hover {
  text-decoration: underline;
}

.product-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 22px;
}

.product-buy-hare {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 28px;
}

.product-price {
  height: 35px;
}

.product-price-hare {
  height: 35px;
  margin-top: 20px;
}

.product-old-price {
  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  text-decoration: line-through;
}

.product-new-price {
  font-size: 2rem;
  line-height: 1.5rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

.product-buy-button {
  width: 140px;
  height: 50px;

  background-color: #b59f5b;
}

.product-buy-button:hover {
  background-color: #000;
}

.product-buy-button-hare {
  width: 140px;
  height: 50px;

  background-color: #b59f5b;
}

.product-buy-button-hare:hover {
  background-color: #000;
}

.product-buy-link {
  display: block;

  width: 100%;
  height: 100%;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

.product-buy-button-link {
  color: #fff;
  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
}

/*-----FOOTER-----*/

.socials {
  max-width: 1170px;
  box-sizing: border-box;

  margin-top: 10px;

  background-color: #eeeeee;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}

.social-list-item {
  width: 100%;
  padding: 27px 0;
  background-color: #f4f7f6;
}

.social-list-items {
  list-style-type: none;
  margin-right: 27px;
}

.social-list-items:last-child {
  margin-right: 0;
}

.social-icon {
  display: block;
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.social-icon-dribbble {
  background: url("https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/001-dribbble.svg");
}

.social-icon-pinterest {
  background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.social-icon-tumblr {
  background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.social-icon-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.footer-copyrights {
  margin-top: 73px;
  margin-bottom: 40px;

  font-size: 12px;
  font-family: "OpenSans-Bold", sans-serif;
  color: #999999;

  text-align: center;
}

.copyrights-link {
  text-decoration: none;
  color: #999999;
}

/*------POPUP------*/

.popup {
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10;

  font-size: 13px;
}

.popup-container {
  margin-top: 225px;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;

  background-color: #ffffff;
  position: relative;
}

.popup-content {
  max-width: 400px;
  height: 530px;
  padding: 35px 30px;
}

.popup-header {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  color: #0f0d0e;
}

.popup-header::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.popup-form {
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;
}

.popup-label {
  margin-bottom: 2px;
}

.frequency {
  background-color: #e1e1e1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  padding-right: 25px;

  margin-top: 6px;
  border: none;
}

.select-field {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 19px;

  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;

  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);

  cursor: pointer;

  background-color: #f3f7f5;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px 18px;
  background-position: right 12px center;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.8em;
  height: 1.8em;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.3em;
  margin-right: 3px;
}

.radio:checked + .radio-group-text::before {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/form-circle.svg");
}

.radio-group {
  visibility: hidden;
}
.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.popup-radio {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

input#radio1{
  display: none;
}

input#radio2 {
  display: none;
}

.textarea {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  padding: 15px 20px;
  min-height: 130px;
  margin-top: 10px;
  resize: none;

  background-color: #f4f7f6;
}

.textarea:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.popup-button {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 50px;

  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
}

.popup-button:hover {
  background-color: #323232;
}

.popup-close {
  width: 2.2em;
  height: 2.2em;

  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  margin: -5px;
  position: absolute;
  top: -1.7em;
  right: -7px;
}

.__hidden {
  display: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.visually-hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------MEDIA------*/

@media (max-width: 1199px) {
  .container {
    padding: 0 35px;
  }

  .header {
    min-height: 395px;
    background: #b2b2b2
      url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-bg-tablet.jpg?raw=true")
      center no-repeat;
    background-size: cover;
  }

  .menu-list {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.6s all;
  }

  .menu-list-items > li {
    padding-right: 0;
    border: none;
    margin: 20px 0;
  }

  .menu-list-items > li > a {
    font-size: 20px;
  }

  .header-intro {
    margin-left: auto;
    margin-right: auto;
  }

  .banner-title {
    font-size: 40px;
    max-width: 615px;
  }
  .menu {
    display: block;
    width: 26px;
    height: 12px;
    cursor: pointer;
    margin-left: 305px;
    
    position: relative;
  }

  .menu-button {
    display: block;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-button > span,
  .menu-button > span::before,
  .menu-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu-button > span::before {
    content: "";
    top: -8px;
  }
  .menu-button > span::after {
    content: "";
    top: 8px;
  }

  .menu-link {
    opacity: 0;
  }
}

@media (min-width: 641px) and (max-width: 1023px) and (orientation: portrait),
  (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .trend {
    min-height: 247px;
    width: calc(50% - 3px);
  }

  .trend:nth-child(n + 3) {
    margin-top: 5px;
  }
}

@media (min-width: 641px) and (max-width: 1199px),
  (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .header {
    background-size: cover;
    max-height: 350px;
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-bg-tablet.jpg?raw=true");
  }

  .container {
    max-width: 1199px;
    padding: 0 35px;
  }

  .container-logo {
    width: 157px;
    min-width: 157px;
    padding-top: 20px;
  }

  .menu-nav {
    display: none;
  }

  .banner-title {
    max-width: 620px;
    margin: auto;

    font-size: 40px;
    line-height: 1.4;
  }

  .section-title {
    margin: 45px 0 18px;
  }

  .trends-title {
    font-size: 15px;
    line-height: 1.3;
  }

  .main {
    max-width: 1199px;
    padding-left: 32px;
    padding-right: 39px;
    margin-top: -18px;
  }

  .content {
    width: 100%;
    margin-right: 35px;
  }

  .frame {
    flex-wrap: wrap;
    margin-bottom: 36px;

    border-bottom: 3px solid #eeeeee;
  }

  .frame:last-child {
    border-bottom: none;
  }


  .frame-image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .frame-text {
    width: 89%;
    margin-left: 0;
  }

  .frame-title {
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 1.6;
  }
  .post-text {
    margin-bottom: 18px;
  }
  .datetime {
    margin-bottom: 30px;
  }

  .shop-page {
    max-width: 1199px;
    padding: 8px 33px 60px;
  }

  .section-title {
    font-size: 17px;
  }

  .product {
    width: calc(50% - 11px);
  }

  .product-title {
    font-size: 17px;
  }

  .footer {
    margin-top: 55px;
  }

  .footer-container {
    margin-bottom: 45px;
  }
}

@media (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  .trend {
    min-height: 247px;
    width: calc(50% - 2px);
  }

  .trend:nth-child(n + 3) {
    margin-top: 5px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    width: 50%;
    width: calc(50% - 3px);
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 15px;
  }
  
  .conteiner-logo {
    width: 265px;
  }

  .header {
    min-height: 635px;
    background: #b2b2b2
      url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-mobile.jpg?raw=true")
      no-repeat center;
    background-size: cover;
    padding-top: 30px;
  }

  .header-wrapper {
    padding-top: 0px;
  }

  .header-logo-nav {
    flex-direction: column-reverse;
    padding-bottom: 52px;
    margin-left: -26px;
    height: 310px;
  }

  .header-intro {
    display: flex;
    justify-content: center;
    margin-top: -125px;
    margin-left: auto;
    margin-right: auto;
  }

  .frame {
    flex-wrap: wrap;
    margin-bottom: 35px;

    border-bottom: 3px solid #eeeeee;
  }

  .frame-image {
    margin-bottom: 10px;
  }

  .menu-nav {
    display: none;
  }

  .banner-title {
    font-size: 26px;
    max-width: 280px;
  }

  .trends {
    margin-top: 45px;
  }

  .all-trends {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
    min-height: 230px;
    min-width: 360px;
  }

  .trend:nth-child(n + 2) {
    margin-top: 4px;
  }
  
  .trends-information {
    left: 15px;
    right: 15px;
  }
  
  .trend-title-link {
    font-size: 15px;
  }
  
  .trends-text {
    margin: 24px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }

  .main-content {
    max-width: 100%;
    margin-right: 0;
  }

  .post {
    max-width: 100%;
  }

  .post-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 45px;
  }

  .new-post-information {
    max-width: 100%;
  }

  .sidebar-tags-list > li {
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .card-content {
    max-width: 100%;
  }

  .card-time {
    font-size: 12px;
  }

  .card-title-content {
    font-size: 14px;
  }

  .side-bar-form {
    margin-top: 45px;
  }

  .side-bar-tags {
    margin-top: 45px;
  }

  .side-bar-class {
    margin-top: 45px;
  }

  .section-title {
    margin-top: 45px;
    font-size: 15px;
    margin-right; 26px;
  }

  .products {
    margin: 0 auto;
  }

  .product {
    width: 100%;
    margin-top: 30px;
  }

  .product-text {
    width: 100%;
  }
}
