@font-face {
  font-family: "OpenSans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .header {
    background-image: url(https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-bg-tablet.jpg?raw=true);
  }

  .container {
    padding: 50px 35px 0 35px;
  }

  .menu_list {
    display: none;
  }

  .menu {
    display: block;
  }

  .banner_title {
    font-size: 4rem;
    line-height: 5.5rem;

    padding-bottom: 120px;

    width: 611px;
  }


  .section-title {
    justify-content: center;
    font-size: 1.8rem;
  }

  .all-trends {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: 50%;
    height: 250px;

    margin-right: 0px;
  }

  .trend:nth-child(odd) {
    margin-right: calc(50% - 49.6%)
  }

  .last-trend {
    margin-top: 4px;
  }

  .trends-information {
    bottom: 10px;
  } 
  .trends-text {
    width: 290px;
  } 
  .trends-title {
    font-size: 1.7rem;
  }


  .main {
    margin-right: 35px;
    margin-left: 35px;
  }

  .trends {
    max-width: 390px;
    margin-top: 50px;
    margin-right: 40px;
  }

  .frame {
    flex-wrap: wrap;
    max-width: 380px;
    margin-top: 50px;

    max-width: 695px;
    margin-bottom: 45px;
    border-bottom: 4px solid #eeeeee;
  }

  .frame:last-child {
    border: none;
  }

  .frame_image {
    width: 100%;
  }


  .frame_content {
    margin-top: 15px;
    width: 100%;
  }

  .post-title {
    font-size: 1.7rem;
    line-height: 2.2rem;

    margin-top: 15px;
  }

  .date_frame_info{
    margin-top: 40px;
  }

  .post-text {
    margin-top: 40px;
    margin-bottom: 20px;
  }



  .shop {
    margin-top: 50px;
  }

  .products {
    max-width: 695px;

    flex-wrap: wrap;

  }

  .product {
    max-width: 335px;

    margin-bottom: 20px;
  }

  .product:nth-child(odd) {
    margin-right: 25px;
  }

  .product-information {
    max-width: 290px;
  }

  .bottom-product {
    margin-bottom: 0px;
  }


  .footer {
    margin-top: 50px;
  }

  .socials {
    margin-right: 35px;
    margin-left: 35px;
  }

  .footer-copyrights {
    margin-top: 50px;
  }
}


@media (max-width: 765px) {
  .products {
    justify-content: center;
  }

  .product:nth-child(odd) {
    margin-left: 25px;
  }
}

@media (max-width: 640px)  {
  .header {
    background-image: url(https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-mobile.jpg?raw=true);
  }

  .container {
    flex-direction: column-reverse;
    justify-content: center;

    padding: 0px;
    padding-top: 235px;
  }

  .menu_list {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;

    right: 15px;
    top: 30px;
  }

  .banner_logo {
    width: 270px;
  }

  .banner_title {
    font-size: 2.6rem;
    line-height: 3.6rem;

    padding-top: 40px;
    width: 280px;
  }

  .trends {
    margin-top: 43px;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .all-trends {
    flex-wrap: wrap;
  }

  .trend {
    height: 230px;
    width: 100%;

    margin-bottom: 4px;

  }

  .trend:last-child {
    margin-bottom: 0;
  }

  .trends-text {
    width: 275px;
  }

  .trends-title {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .main {
    margin-right: 15px;
      margin-left: 15px;
  }

  .content {
    flex-wrap: wrap;

    margin-top: 45px;
    max-width: 330px;
  }

  .trends {
    max-width: 330px;
  }

  .frame {
    flex-wrap: wrap;
    margin-bottom: 35px;

    border-bottom: 4px solid #eeeeee;
  }

  .frame:last-child {
    margin-bottom: 45px;
  }

  .frame_image{
    width: 100%;
  }

  .frame_text {
    width: 100%;
  }

  .frame_list {
    margin-top: 12px;
  }

  .post-title {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .date_frame_info {
    margin-top: 23px;
  }

  .post-text {
    margin-top: 23px;
    font-size: 1.4rem;
    line-height: 2rem;

    margin-bottom: 23px;
  }

  .side_bar {
    max-width: 330px;
  }

  .post {
    max-width: 330px;
  }

  .post_title {
    font-size: 1.6rem;
  }

  .card_title_content {
    width: 100%;
  }

  .form_row {
    flex-basis: 330px;
  }

  .field {
    width: 100%;
  }

  .form_button {
    min-width: 50px;
  }

  .subscription__title {
    margin-top: 45px;
  }

  .side_bar {
    margin-top: 45px;
  }
  .sidebar_tag {
    padding: 5px 13px;
  }

  .side_bar_class {
    margin-top: 45px;
  }

  .sidebar_them {
    font-size: 1.4rem;
  }

  .shop {
    margin-top: 45px;
  }

  .products {
    max-width: 330px;

    justify-content: center;
    flex-wrap: wrap;
  }

  .product {
    flex-basis: 330px;

    margin-bottom: 22px;
  }

  .product:last-child {
    margin-bottom: 0;
  }

  .product-text {
    height: auto;

    margin-bottom: 25px;
  }

  .footer {
    margin-top: 45px;

  }

  .socials {
    max-width: 330px;
  }

  .footer-copyrights {
    margin-top: 50px;
  }
}



.header {
  width: 100%;

  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  z-index: 0;
  position: relative;
}

.header::after {
  content: "";

  background-color: #000000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;

  position: absolute;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: auto;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;

  position: relative;
  z-index: 2;
}

.container_logo {
  width: 180px;
}

#menu__toggle {
  opacity: 0;
}

@media (max-width: 1199px) {
  .menu__button {
    display: block;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__button > span::before {
    content: "";
    top: -8px;
  }
  .menu__button > span::after {
    content: "";
    top: 8px;
  }

  .menu_link {
    opacity: 0;
  }
}

.menu_list {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;

  display: flex;
}

.menu_list_items {
  list-style-type: none;
  font-size: 13px;

  margin-left: 35px;
  height: 18px;
}

.menu_list_items:hover {
  border-bottom: 2px solid white;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

.menu_link:hover {
  text-decoration: underline;
}

.menu_list_items:nth-child(n + 2) {
  margin-left: 35px;
}

.banner_title {
  font-family: "OpenSans-Bold", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.66;

  margin: auto;
  text-align: center;
  padding-bottom: 145px;
  padding-top: 120px;

  position: relative;
  z-index: 2;

  width: 690px;
}

.trends {
  margin-top: 63px;
}

.section-title {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 2rem;
  color: #0f0d0e;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;

  position: relative;
}

.section-title::after {
  content: "";

  display: block;
  opacity: 0.5;
  background-color: #b59f5b;
  left: calc(50% - 32.5px);

  margin-top: 10px;

  width: 65px;
  height: 3px;

  position: absolute;
}

.all-trends {
  display: flex;
}

.trend {
  height: 320px;
  width: calc(99% / 4);

  margin-right: calc(1% / 3);

  position: relative;

  z-index: 0;
}

.trend::after {
  content: "";

  background-color: #000000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;

  position: absolute;
  z-index: 1;
}

.trend:last-child {
  margin-right: 0;
}

.trend1 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend1.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trend2 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trend3 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trend4 {
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trends-information {
  border: 3px solid rgba(181, 159, 91, 0.6);

  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 15px;

  display: flex;
  justify-content: center;

  z-index: 2;
}

.trends-text {
  margin: 33px 15px;
  width: 300px;
}

.trends-tegs {
  display: flex;
}

.trends-teg {
  list-style-type: none;

  font-size: 1.4rem;
  height: 19px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;

  margin-right: 15px;
}

.trends-tegs-links {
  text-decoration: none;
  color: #b59f5b;
}

.trends-teg:hover {
  border-bottom: 2px solid #b59f5b;
}

.trends-title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;

  color: #fff;

  margin-top: 7px;
}

.trends-title:hover {
  color: #b59f5b;
}

.trends-title-link {
  text-decoration: none;
  color: inherit;
}

.content-skin {
  margin-right: 15px;
  margin-left: 15px;
}

.content {
  margin: auto;
  margin-top: 65px;

  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}

.main-content {
  width: 780px;
}

.frame {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.frame:last-child {
  margin-bottom: 0;
}

.frame_image {
  width: 380px;
}

.frame_text {
  width: 367px;
}

.frame_list {
  list-style-type: none;

  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;

  display: flex;
}

.frame_list_items {
  display: block;
  height: 19px;
  margin-right: 20px;
  box-sizing: border-box;
}

.frame_list_items:hover {
  border-bottom: 2px solid #b59f5b;
}

.frame_link {
  text-decoration: none;
  color: #b59f5b;
}

.post-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #0f0d0e;

  margin-top: 10px;
}

.frame_title {
  text-decoration: none;
  color: #0f0d0e;
}

.date_frame_info {
  margin-top: 35px;
  display: flex;
}

.datetime {
  font-family: "OpenSans", sans-serif;
  font-size: 1.2rem;
  color: #888888;

  margin-right: 13px;
}

.frame_autor {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #000000;
}

.post-text {
  margin-top: 50px;

  font-family: "OpenSans", sans-serif;
  font-size: 1.5rem;
  color: #0f0d0e;
}

.post-text-more {
  margin-top: 20px;
}

.post {
  max-width: 272px;
}

.post_title {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  color: #0f0d0e;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;

  position: relative;
}

.post_title::after {
  content: "";

  display: block;
  opacity: 0.5;
  background-color: #b59f5b;
  left: calc(50% - 32.5px);

  margin-top: 10px;

  width: 65px;
  height: 3px;

  position: absolute;
}

.card {
  display: flex;

  margin-bottom: 20px;
}

.new-last-post {
  margin-bottom: 0px;
}

.card_image {
  width: 70px;

  margin-right: 20px;
}

.card_time {
  font-size: 1.2rem;
  font-family: "OpenSans";
  color: #000000;
}

.card_title_content {
  font-family: "OpenSans-Bold";
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #000000;

  text-transform: uppercase;
}

.card_title_content:hover {
  color: #b59f5b;
}

.card_title {
  text-decoration: none;
  color: #000000;
}

.form_row {
  margin-top: 60px;
  display: flex;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 51px;
  display: flex;
}

.form_hint {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.field {
  width: 222px;
  height: 50px;

  font-family: "OpenSans", sans-serif;
  font-size: 1.3rem;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 50px;

  border: none;
  background: #f4f7f6;

  padding-left: 19px;
  padding-right: 19px;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.form_field {
  width: 100%;
  height: 49px;
  padding: 0 17px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  background: #f4f7f6;
  border: none;
}

.form_field:focus {
  outline: none;
  outline: 1px solid #b59f5b;
}

.form_button {
  width: 50px;
  height: 50px;

  color: #ffffff;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;

  border: none;
}

.form_button:hover {
  background-color: #000000;
}

.form_mail_group {
  cursor: pointer;
}


.form_field {
  width: 100%;
  height: 50px;

  padding-left: 20px;
  padding-right: 20px;

  border: none;
  background-color: #f4f7f6;
}

.email-place:focus {
  outline: 1px solid #b59f5b;
}

.form_mail_button {
  margin-top: 20px;

  border: none;

  display: block;
  text-align: center;
  margin-bottom: 50px;

  width: 100%;
  padding: 18px;

  background-color: #b59f5b;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
}

.form_mail_button:hover {
  background-color: #000000;
}


.sidebar_tags_list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.sidebar_tag_link {
  text-decoration: none;

  color: #0f0d0e;
}

.sidebar_tag {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.2rem;

  text-transform: uppercase;
  color: #0f0d0e;

  border: 3px solid #eeeeee;

  padding: 8px 15px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.sidebar_tag:hover {
  border: 3px solid #b59f5b;
}

.side_bar_class {
  margin-top: 60px;
}

.sidebar_thems_list {
  list-style-type: none;
}

.sidebar_them_link {
  text-decoration: none;
  color: #000000;
}

.sidebar_them {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  color: #000000;

  display: block;

  padding: 15px 0;

  border-bottom: 2px solid #eeeeee;
}

.sidebar_them:first-child {
  padding-top: 0;
}

.sidebar_them_number {
  font-size: 1.2rem;
  color: #b59f5b;

  margin-left: 4px;

  vertical-align: top;
}

.sidebar_them_link:hover {
  color: #b59f5b;
}

.shop {
  margin-top: 65px;
}

.products {
  max-width: 1170px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.product {
  flex-basis: 345px;
}

.product-information {
  width: 87%;
  margin-right: 6.5%;
  margin-left: 6.5%;

  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
}

.product-border {
  outline: 3px solid rgba(181, 159, 91, 0.6);

  margin: -30px -22.5px 0 -22.5px;
}

.product-text {
  width: 100%;

  padding: 45px 22.5px 0 22.5px;
  height: 260px;
}

.product-title {
  font-size: 2rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

.product-description {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;

  margin-top: 7px;
}

.product-description-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-description-link:hover {
  text-decoration: underline;
}

.product-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;
}

.product-price {
  height: 35px;
}

.product-old-price {
  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  text-decoration: line-through;
}

.product-new-price {
  font-size: 2rem;
  line-height: 1.5rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

.product-buy-button {
  width: 140px;
  height: 50px;

  background-color: #b59f5b;
}

.product-buy-button:hover {
  background-color: #000;
}

.product-buy-link {
  display: block;

  width: 100%;
  height: 100%;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

.product-buy-button-link {
  color: #fff;
  font-size: 1.4rem;
  font-family: "OpenSans-Bold", sans-serif;
}

.footer {
  margin-top: 63px;
}

.socials {
  max-width: 1170px;
  box-sizing: border-box;

  margin: auto;

  background-color: #eeeeee;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}

.social_list_item {
  width: 100%;
  padding: 27px 0;
  background-color: #f4f7f6;
}

.social_list_items {
  list-style-type: none;
  margin-right: 27px;
}

.social_list_items:last-child {
  margin-right: 0;
}

.social_icon {
  display: block;
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.social_icon_dribbble {
  background: url("https://raw.githubusercontent.com/netology-code/mq-diploma/6d4326e80d41421614172dca12240a3941487c7c/sources/svg/001-dribbble.svg");
}

.social_icon_pinterest {
  background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.social_icon_tumblr {
  background: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.social_icon_description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.footer-copyrights {
  margin-top: 73px;
  margin-bottom: 40px;

  font-size: 12px;
  font-family: "OpenSans-Bold", sans-serif;
  color: #999999;

  text-align: center;
}

.copyrights-link {
  text-decoration: none;
  color: #999999;
}
